<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackandtrace">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Track and Trace"
        android:roundIcon="@mipmap/logo_round"
        android:theme="@style/Theme.Trackandtrace">
        <activity
            android:name=".ScanQrcode"
            android:exported="false" />
        <activity
            android:name=".how_it_works"
            android:exported="false" />
        <activity
            android:name=".trace"
            android:exported="false" />
        <activity
            android:name=".tracking"
            android:exported="false" />
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>